# Игнорировать все .class-файлы во всех подпапках
*.class

# Игнорировать каталоги out и bin в любом месте
/out/
/bin/

# Игнорировать все .iml-файлы и конфигурации IDE
*.iml
.idea/
.vscode/

# Игнорировать системные файлы
.DS_Store
Thumbs.db
